#contact>.container {
    display: grid;
}

#contact .section-box {
    display: grid;
    background-color: var(--c13);
    box-shadow: var(--shadow);
    margin: 40px 0;
    position: relative;
}

#contact .section-box::after {
    content: "";
    align-self: center;
    background-color: var(--p6);
    height: calc(100% - 120px);
    width: 100vw;
    position: absolute;
    right: -80px;
    z-index: -1;
}

.contact {
    display: grid;
    gap: 40px;
    margin: 40px 60px;
}

.contact .p {
    font: var(--font-2-mt);
    color: var(--c2);
}

.contact .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.contact .item {
    display: grid;
    justify-items: center;
    gap: 12px;
    padding: 12px 0;
}

.contact .item:hover {
    background-image: var(--g2);
}

.contact .item:hover .icon {
    filter: var(--icon-hover-p0);
}

.contact .icon {
    width: 32px;
    height: 32px;
}

.wpp-ico {
    background: url(../img/icons/wpp-ico.svg);
}

.email-ico {
    background: url(../img/icons/email-ico.svg);
}

.location-ico {
    background: url(../img/icons/location-ico.svg);
}

.contact .text {
    font: var(--font-2-m-c);
    color: var(--c1);
}

.contact .text:hover {
    color: var(--p0);
}