#education {
    background-color: #000;
}

#education>.container {
    display: grid;
}

#education .section-box {
    display: grid;
    background-color: var(--c1);
    box-shadow: var(--shadow);
    height: 384px;
    margin: 100px;
    position: relative;
}

.education {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 40px;
    position: absolute;
    top: 60px;
    left: -100px;
    right: -100px;
}

.education-item {
    display: grid;
    gap: 24px;
    background: var(--c13);
    padding: 40px 60px;
    position: relative;
}

.education-item::before {
    content: "";
    align-self: center;
    height: calc(100% + 40px);
    position: absolute;
    z-index: 0;
    opacity: .2;
}

.education-item:nth-child(2)::before {
    background: var(--p7);
    left: -340px;
    right: 60px;
}

.education-item:last-child::before {
    background: var(--g2);
    left: 60px;
    right: -100px;
}

.education-header,
.education-body .entity,
.education-body .item {
    display: flex;
    justify-content: space-between;
}

.education-header .title {
    font: var(--font-1-m-c);
    color: var(--c6);
    text-transform: uppercase;
}

.education-header .icon {
    width: 24px;
    height: 24px;
}

.education-body {
    display: grid;
    gap: 8px;
}

.education-body .title,
.education-body .lang {
    font: var(--font-1-m-b);
    color: var(--c1);
    text-transform: uppercase;
}

.education-body .entity,
.education-body .level {
    font: var(--font-1-m);
    color: var(--c6);
}

.education-body .list {
    display: grid;
    gap: 8px;
}