.header {
    background-color: var(--c13);
    position: sticky;
    top: 0;
    z-index: 1;
}

.header-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    max-width: 1160px;
    margin: auto;
    padding: 0 20px;
}

.header-logo {
    justify-self: start;
}

.header-menu {
    display: flex;
}

.header-menu-item {
    display: inline-block;
    font: var(--font-1-ms-b);
    color: var(--c4);
    text-transform: uppercase;
    padding: 18px 20px;
    position: relative;
}

.header-menu-item:hover {
    color: var(--p4);
}

.header-menu-item:hover::after {
    content: "";
    background: var(--g1);
    width: 100%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-right {
    display: flex;
    justify-self: end;
}

.header-lang {
    display: flex;
    align-items: center;
}

.header-lang-item {
    font: var(--font-1-ms-b);
    color: var(--c8);
    padding: 8px 6px;
}

.header-lang-item:hover {
    color: var(--p4);
}

.selected-lang {
    color: var(--c2);
}