.header {
    background-color: var(--c13);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: var(--shadow);
}

.header>.container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center;
}

.header .logo {
    background: url(../img/logo.svg) center no-repeat;
    width: 200px;
    height: 60px;
}

.header .main,
.header .lang {
    display: flex;
    flex-wrap: wrap;
}

.header .main {
    justify-content: center;
}

.header .lang {
    justify-content: end;
}

.header .menu .item {
    display: inline-block;
    text-transform: uppercase;
    padding-top: 18px !important;
    padding-bottom: 18px !important;
    position: relative;
}

.header .menu .item::after {
    content: "";
    background: var(--g1);
    width: 0%;
    height: 4px;
    transition: 0.2s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header .menu .item:hover::after {
    width: 100%;
}

.header .menu .item:hover {
    color: var(--p4);
}

.header .main .item {
    font: var(--font-1-ms-b);
    color: var(--c4);
    padding: 0 20px;
}

.header .lang .item {
    font: var(--font-1-ms-b);
    color: var(--c8);
    padding: 0 6px;
}

.header .lang .active {
    color: var(--c2);
}

.header .lang .active:hover {
    color: var(--p2);
    cursor: pointer;
}