.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
}

.header-logo {
    justify-self: start;
}

.header-menu {
    display: flex;
}

.header-menu-item {
    display: inline-block;
    font: var(--font-1-m-b);
    color: var(--c2);
    padding: 32px 20px;
}

.header-right {
    display: flex;
    justify-self: end;
}

.header-lang,
.header-social {
    display: flex;
    align-items: center;
}

.header-lang-item {
    font: var(--font-1-ms-b);
    color: var(--c8);
    padding: 32px 6px;
}

.header-lang-item:hover {
    color: var(--p4);
}

.selected-lang {
    color: var(--c2);
}

.header-social a:first-child {
    padding: 28px 6px 28px 12px;
}

.header-social a:last-child {
    padding: 28px 12px 28px 6px;
}