.intro {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 40px;
    background-color: var(--c13);
    margin: 40px 0;
    padding: 40px 100px;
    position: relative;
}

.intro::before {
    content: "";
    align-self: center;
    background: var(--g2);
    width: 8px;
    height: calc(100% - 80px);
    position: absolute;
    left: -4px;
}

.intro-info {
    display: grid;
    gap: 40px;
}

.intro-titles {
    display: grid;
    gap: 4px;
}

.intro-greetings {
    font: var(--font-2-m-b);
    color: var(--c8);
}

.intro-title,
.grad-text {
    font: var(--font-1-xxl);
    color: var(--c1);
}

.intro-subtitle {
    font: var(--font-2-ms-c);
    color: var(--c2);
    letter-spacing: 0.045rem;
    text-transform: uppercase;
}

.intro-subtitle span {
    color: var(--p4);
}

.intro-description {
    font: var(--font-2-m);
    color: var(--c2);
}

.intro-description span {
    font: var(--font-2-m-c);
    color: var(--c0);
}

.intro-buttons {
    display: flex;
    gap: 40px;
}

.intro-watermark {
    background: url(../img/watermark.svg) center no-repeat;
}