#intro .section-box {
    display: grid;
    background-color: var(--c13);
    box-shadow: var(--shadow);
    max-width: 640px;
    margin: 100px 0 60px;
    padding: 40px 60px;
    position: relative;
}

#intro .section-box::after {
    content: "";
    align-self: center;
    background: var(--p6);
    width: 100vw;
    height: calc(100% - 80px);
    position: absolute;
    right: -400px;
    z-index: -2;
}

#intro .watermark {
    background: url(../img/watermark.svg) no-repeat;
    width: 184px;
    height: 184px;
    position: absolute;
    top: 60px;
    right: -92px;
}

.intro {
    display: grid;
    gap: 32px;
}

.intro .main .title,
.intro .main .gradient {
    display: inline;
    font: var(--font-1-xxl);
    color: var(--c1);
    cursor: pointer;
}

.intro .main .title:hover .gradient {
    background: linear-gradient(90deg, var(--p4), var(--p5), var(--p6), var(--p7), var(--p7), var(--p6), var(--p5), var(--p4));
    background-size: 600% 600%;
    -webkit-animation: var(--g1-anim);
    -moz-animation: var(--g1-anim);
    animation: var(--g1-anim);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.intro .main .subtitle,
.intro .main .subtitle span {
    font: var(--font-2-l-c);
    text-transform: uppercase;
}

.intro .main .subtitle {
    color: var(--c2);
}

.intro .main .subtitle span {
    color: var(--p4);
}

.intro .main .description {
    font: var(--font-2-m);
    color: var(--c2);
    margin-top: 12px;
}

.intro .main .description span {
    font: var(--font-2-m-c);
    color: var(--c0);
}

.intro .extra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.intro .extra .left,
.intro .extra .right {
    display: grid;
    gap: 20px;
}

.location {
    display: flex;
    gap: 4px;
    justify-content: center;
}

.location .icon {
    width: 24px;
    height: 24px;
    filter: var(--icon-hover-p0);
}

.location .location-ico {
    background-size: contain;
}

.location:hover .location-ico {
    filter: var(--icon-hover-p4);
}

.location .p {
    font: var(--font-2-m);
    color: var(--c2);
}

.location .p span {
    font: var(--font-2-m-c);
    color: var(--c0);
}

.location:hover .p span {
    color: var(--p2);
}

.intro .right .social {
    display: flex;
    justify-content: center;
}

.intro .right .social-item {
    width: 24px;
    height: 24px;
    padding: 0 10px;
}

.intro .right .social-item:hover {
    filter: var(--icon-hover-p4);
}

.details {
    position: absolute;
    z-index: -1;
}

.box-top,
.box-bottom {
    background: url(../img/details/detail-box.svg) no-repeat;
    width: 136px;
    height: 88px;
    right: -148px;
}

.box-top {
    top: 52px;
    transform: rotate(180deg);
}

.box-bottom {
    bottom: 52px;
}

.diagonal {
    background: url(../img/details/detail-diagonal.svg) no-repeat;
    width: 88px;
    height: 68px;
    left: -100px;
    bottom: 52px;
}