/*

---------- Projects Section ----------

*/

.project-container {
    display: grid;
    gap: calc(40rem/16);
}

.project-title-container {
    background-color: var(--greyish-blue-13);
    cursor: default;
}

.project-title-text {
    font-family: var(--font-poppins);
    font-size: calc(20rem/16);
    font-weight: var(--light);
    line-height: calc(30rem/16);
    text-transform: uppercase;
    text-align: left;
    padding: calc(15rem/16) 0;
}

.project-slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(40rem/16);
}

.project-slider-item {
    display: grid;
    align-content: start;
    gap: calc(10rem/16);
    background-color: var(--greyish-blue-11);
    color: var(--greyish-blue-1);
    max-width: calc(260rem/16);
    padding: calc(30rem/16);
    position: relative;
}

.project-slider-item:hover {
    cursor: pointer;
}

.project-slider-item:hover::after {
    content: "";
    background: var(--gradient-l5r6);
    width: 100%;
    height: calc(4rem/16);
    position: absolute;
    bottom: 0;
}

.project-slider-item-selected {
    background-image: var(--gradient-t6d7);
    color: var(--blue-1);
}

.project-slider-item-selected:hover::after {
    background: var(--blue-1);
}

.project-slider-item-selected .bold-text {
    color: var(--blue-0);
}

.project-slider-item-icon {
    background: url(../img/icons/project-icon.svg) no-repeat center;
    background-size: cover;
    width: calc(40rem/16);
    height: calc(40rem/16);
}

.project-slider-item-title {
    font-family: var(--font-poppins);
    font-size: 1rem;
    font-weight: var(--semi-bold);
    line-height: calc(24rem/16);
    text-transform: uppercase;
}

.project-slider-item-text {
    font-family: var(--font-lato);
    font-size: 1rem;
    font-weight: var(--regular);
    line-height: calc(24rem/16);
}

.project-display-container {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    gap: calc(40rem/16);
    background-color: var(--greyish-blue-13);
    color: var(--greyish-blue-1);
    padding: calc(50rem/16) calc(100rem/16);
}

.project-display-info {
    display: grid;
    gap: calc(20rem/16);
}

.project-display-info-icon {
    background: url(../img/icons/project-icon.svg) no-repeat center;
    background-size: cover;
    width: calc(60rem/16);
    height: calc(60rem/16);
}

.project-display-info-title {
    font-family: var(--font-poppins);
    font-size: calc(32rem/16);
    font-weight: var(--semi-bold);
    line-height: calc(48rem/16);
}

.project-display-info-text {
    font-family: var(--font-lato);
    font-size: 1rem;
    font-weight: var(--regular);
    line-height: calc(24rem/16);
}

.project-display-info-extra {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(100rem/16);
}

.project-display-info-extra-tools,
.project-display-info-extra-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(20rem/16);
}

.project-display-info-extra-title {
    grid-column: 1 / -1;
    font-family: var(--font-poppins);
    font-weight: var(--semi-bold);
    font-size: calc(24rem/16);
    line-height: calc(36rem/16);
}

.project-display-info-extra-icon {
    width: calc(30rem/16);
    height: calc(30rem/16);
}

.project-display-picture {
    display: grid;
    place-content: center;
    background-image: var(--gradient-t6d7);
    padding: calc(40rem/16);
}

/*

---------- Concepts Section ----------

*/

.concept-container {
    display: grid;
    grid-template-columns: 4fr 8fr;
    gap: calc(40rem/16);
}

.concept-title-container {
    background-color: var(--greyish-blue-13);
    cursor: default;
}

.concept-title-text {
    font-family: var(--font-poppins);
    font-size: calc(20rem/16);
    font-weight: var(--light);
    line-height: calc(30rem/16);
    text-transform: uppercase;
    text-align: right;
    padding: calc(15rem/16) 0;
}

.concept-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(40rem/16);
}

.concept-grid-item {
    display: grid;
    place-content: center;
    background-color: var(--greyish-blue-11);
    width: calc(160rem/16);
    height: calc(160rem/16);
    padding: calc(20rem/16);
    position: relative;
}

.concept-grid-item:hover {
    cursor: pointer;
}

.concept-grid-item:hover::after {
    content: "";
    background: var(--gradient-t5d6);
    width: calc(4rem/16);
    height: 100%;
    position: absolute;
    left: 0;
}

.concept-grid-item-selected {
    background-image: var(--gradient-t5d6);
    color: var(--blue-1);
}

.concept-grid-item-selected:hover::after {
    background: var(--blue-1);
}

.concept-display-container {
    display: grid;
    place-content: center;
    gap: calc(40rem/16);
    background-color: var(--greyish-blue-13);
    color: var(--greyish-blue-1);
    padding: calc(40rem/16);
}

.concept-display-picture {
    display: grid;
    place-content: center;
    background-image: var(--gradient-t6d7);
    width: calc(560rem/16);
    height: calc(440rem/16);
}

.concept-display-tools {
    display: flex;
    flex-wrap: wrap;
    gap: calc(20rem/16);
}

.concept-display-tools-title {
    font-family: var(--font-poppins);
    font-weight: var(--semi-bold);
    font-size: calc(24rem/16);
    line-height: calc(36rem/16);
}

.concept-display-tools-icon {
    width: calc(30rem/16);
    height: calc(30rem/16);
}