#projects {
    background-color: #000;
}

#projects>.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: url(../img/background.svg) content-box center no-repeat fixed;
}

#projects .section-box {
    display: flex;
    flex-direction: column;
    grid-column: 2 / span 2;
    justify-self: end;
    margin: 60px 0 40px;
    position: relative;
}

.projects {
    display: grid;
}

.projects .main {
    display: grid;
    gap: 32px;
    background-color: var(--c13);
    box-shadow: var(--shadow);
    max-width: 640px;
    padding: 40px 60px;
}

.projects .info {
    display: grid;
    gap: 12px;
}

.projects .info .title {
    font: var(--font-1-xl-c);
    color: var(--c1);
}

.projects .info .description {
    font: var(--font-2-m);
    color: var(--c2);
}

.projects .main .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.projects .main .grid .item {
    display: grid;
    gap: 8px;
}

.projects .main .grid .title {
    font: var(--font-1-l-c);
    color: var(--c1);
}

.projects .main .grid .icons {
    display: flex;
    gap: 16px;
}

.projects .slider {
    display: flex;
    flex-direction: column;
    gap: 40px;
    position: relative;
}

.projects .slider .grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.projects .slider .grid .item {
    display: grid;
    justify-items: center;
}

.projects .slider .grid .item:hover {
    cursor: pointer;
}

.projects .slider .grid .item:hover::before {
    content: "";
    background: var(--g1);
    width: 160px;
    height: 4px;
    position: absolute;
    top: -4px;
}

.projects .slider .grid .box {
    background-color: var(--c11);
    width: 160px;
    height: 80px;
}

.projects .slider .grid .item:hover .box {
    background: var(--g1);
}

.projects .slider .grid .active {
    font: var(--font-2-s);
    color: var(--c11);
    margin: 8px 0;
}

.slider-ctrl {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.slider-ctrl-item {
    cursor: pointer;
}