.sep {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 4px;
    max-width: 1160px;
    margin: auto;
    position: sticky;
    top: 60px;
    z-index: 1;
}

.sep-detail {
    background: var(--g1);
    width: 260px;
    height: 4px;
}

.section-title {
    font: var(--font-2-m-b);
    color: var(--c9);
    text-transform: uppercase;
    cursor: default;
}