.container>.section-container:last-child {
    margin-bottom: 0;
}

.section-container {
    display: grid;
    gap: calc(40rem/16);
    margin: auto;
    margin-bottom: calc(40rem/16);
}

.section-sep-container {
    display: grid;
    gap: calc(10rem/16);
}

.section-sep-detail {
    background: var(--gradient-l5r6);
    width: calc(400rem/16);
    height: calc(3rem/16);
}

.left-sep-detail {
    justify-self: start;
}

.right-sep-detail {
    justify-self: end;
}

.section-sep-text {
    color: var(--greyish-blue-9);
    font-family: var(--font-lato);
    font-size: 1rem;
    font-weight: var(--medium);
    line-height: calc(24rem/16);
    text-transform: uppercase;
    width: 100%;
}

.section-sep-text:hover {
    cursor: default;
}

.left-sep-text {
    text-align: left;
}

.right-sep-text {
    text-align: right;
}