.sep {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 4px;
    max-width: 1160px;
    margin: auto;
}

.sep-detail {
    background: var(--g1);
    width: 100vw;
    height: 4px;
    position: absolute;
    right: 0;
    z-index: -1;
}

.section-title {
    font: var(--font-2-m-e);
    background-color: var(--c12);
    color: var(--c9);
    text-transform: uppercase;
    cursor: default;
    padding: 0 8px;
}