@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Classes & IDs */

.container {
    max-width: calc(1920rem/16);
    margin: auto;
}

.content-container {
    max-width: calc(1160rem/16);
    margin: auto;
}

.special-text {
    background: var(--gradient-lr);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.bold-text {
    font-weight: var(--bold);
}

/* Header Menu */

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    background-color: var(--greyish-blue-12);
    font-family: var(--font-poppins);
    max-width: 1160px;
    margin: auto;
    position: fixed;
    top: 0;
    left: 140px;
}

.header a {
    color: var(--greyish-blue-2);
    font-weight: var(--medium);
}

.header-logo {
    padding: calc(23rem/16) 0;
}

.header-menu {
    display: flex;
    gap: calc(40rem/16);
}

.header-menu a {
    font-size: calc(16rem/16);
    line-height: calc(24rem/16);
}

.header-right-menu {
    display: flex;
    gap: calc(40rem/16);
    justify-self: end;
}

.header-right-menu nav {
    align-self: center;
}

.header-lang-menu,
.header-social-media {
    display: flex;
    gap: calc(20rem/16);

}

.header-lang-menu .header-lang-menu-item {
    color: var(--greyish-blue-8);
    font-size: calc(14rem/16);
    line-height: calc(21rem/16);
}

.header-lang-menu .header-lang-menu-item:hover {
    color: var(--blue-4);
}

.header-lang-menu .active-lang {
    color: var(--greyish-blue-2);
}

/* Section Configs */

.section-sep-left {
    display: grid;
    justify-content: left;
    background: url(../img/details/section-sep.svg) no-repeat top left;
    text-align: left;
}

.section-sep-right {
    display: grid;
    justify-content: right;
    background: url(../img/details/section-sep.svg) no-repeat top right;
    text-align: right;
}

.section-sep-left p,
.section-sep-right p {
    color: var(--greyish-blue-9);
    font-family: var(--font-lato);
    font-size: calc(16rem/16);
    font-weight: var(--medium);
    line-height: calc(24rem/16);
    text-transform: uppercase;
    margin-top: calc(10rem/16);
    position: relative;
}

.section-sep-left p:hover,
.section-sep-right p:hover {
    cursor: default;
}

.section-sep-left p {
    left: calc(140rem/16);
}

.section-sep-right p {
    right: calc(140rem/16);
}

.section-container {
    max-width: calc(1160rem/16);
    margin: calc(40rem/16) auto;
}

/* Intro Section */

#intro {
    margin-top: 91px;
}

.intro-container {
    display: grid;
    grid-template-columns: 9fr 3fr;
    background: url(../img/details/intro-detail.svg) no-repeat center left;
    background-color: var(--greyish-blue-13);
    padding: calc(40rem/16) calc(50rem/16) calc(40rem/16) calc(60rem/16);
    font-family: var(--font-lato);
}

.intro-info {
    display: flex;
    flex-direction: column;
    gap: calc(40rem/16);
}

.intro-greetings {
    color: var(--greyish-blue-8);
    font-size: calc(16rem/16);
    font-weight: var(--medium);
    line-height: calc(24rem/16);
}

.intro-title {
    color: var(--greyish-blue-1);
    font-family: var(--font-poppins);
    font-size: calc(64rem/16);
    font-weight: var(--regular);
    line-height: calc(96rem/16);
}

.intro-title .special-text {
    font-size: calc(64rem/16);
}

.intro-subtitle {
    color: var(--greyish-blue-2);
    font-size: calc(14rem/16);
    font-weight: var(--semi-bold);
    line-height: calc(21rem/16);
    letter-spacing: 0.045rem;
    text-transform: uppercase;
}

.intro-subtitle .bold-text {
    color: var(--blue-4);
}

.intro-text {
    color: var(--greyish-blue-2);
    font-size: calc(16rem/16);
    font-weight: var(--regular);
    line-height: calc(24rem/16);
}

.intro-text .bold-text {
    color: var(--greyish-blue-0);
}

.intro-buttons {
    display: flex;
    gap: calc(62rem/16);
}

.intro-buttons a {
    display: flex;
    align-items: center;
    padding: calc(10rem/16) calc(20rem/16);
    border: 1px solid var(--blue-5);
}

.intro-buttons .normal-btn {
    color: var(--greyish-blue-1);
    padding: calc(10rem/16) calc(20rem/16) calc(10rem/16) calc(16rem/16);
    gap: calc(6rem/16);
}

.intro-buttons .normal-btn:hover {
    color: var(--blue-4);
}

.intro-buttons .special-btn {
    background-image: var(--gradient-td);
    color: var(--blue-0);
}

.intro-buttons .special-btn:hover {
    background-image: linear-gradient(to right, var(--greyish-blue-1) 0%, var(--greyish-blue-2) 100%);
    color: var(--blue-7);
}

.intro-picture {
    background: url(../img/intro-picture.svg) no-repeat center right;
    /* align-self: center;
    justify-self: flex-end; */
}

/* Portfolio Section */

.project-title,
.concept-title {
    background-color: var(--greyish-blue-13);
    font-family: var(--font-poppins);
    font-size: calc(20rem/16);
    font-weight: var(--light);
    line-height: calc(30rem/16);
    text-transform: uppercase;
    margin: calc(40rem/16) 0;
    padding: calc(15rem/16) 0;
    cursor: default;
}

.project-title p {
    text-align: left;
}

.concept-title p {
    text-align: right;
}

.project-slider {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: calc(40rem/16);
}

.project-slider-item {
    display: grid;
    gap: calc(10rem/16);
    background-color: var(--greyish-blue-11);
    color: var(--greyish-blue-1);
    font-size: 1rem;
    line-height: calc(24rem/16);
    max-width: calc(260rem/16);
    padding: calc(30rem/16);
}

.project-slider-item:hover {
    background: url(../img/details/section-sep.svg) no-repeat bottom center;
    background-color: var(--greyish-blue-11);
    cursor: pointer;
}

.project-slider-item-icon {
    background: url(../img/icons/project-icon.svg) no-repeat center;
    background-size: cover;
    width: calc(40rem/16);
    height: calc(40rem/16);
}

.project-slider-item h1 {
    font-family: var(--font-poppins);
    font-weight: var(--semi-bold);
    text-transform: uppercase;
}

.project-slider-item p {
    font-family: var(--font-lato);
    font-weight: var(--regular);
}

.project-slider .project-selected-item,
.project-slider .project-selected-item:hover {
    background-image: var(--gradient-td);
    color: var(--blue-1);
}

.project-display-container {
    display: grid;
    grid-template-columns: repeat(2, 6fr);
    gap: calc(40rem/16);
    background-color: var(--greyish-blue-13);
    color: var(--greyish-blue-1);
    margin-top: calc(40rem/16);
    padding: calc(50rem/16) calc(100rem/16);
}

.project-display-info {
    display: grid;
    gap: calc(20rem/16);
}

.project-display-info .project-display-info-icon {
    background: url(../img/icons/project-icon.svg) no-repeat center;
    background-size: cover;
    width: calc(60rem/16);
    height: calc(60rem/16);
}

.project-display-info h1 {
    font-family: var(--font-poppins);
    font-size: calc(32rem/16);
    font-weight: var(--semi-bold);
    line-height: calc(48rem/16);
}

.project-display-info p {
    font-family: var(--font-lato);
    font-size: 1rem;
    font-weight: var(--regular);
    line-height: calc(24rem/16);
}

.project-display-more-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: calc(100rem/16);
}

.project-display-more-info h2 {
    font-family: var(--font-poppins);
    font-weight: var(--semi-bold);
    font-size: calc(24rem/16);
    line-height: calc(36rem/16);
}

.project-display-picture {
    display: grid;
    place-content: center;
    background-image: var(--gradient-td);
    width: calc(460rem/16);
    height: calc(360rem/16);
}

/* Global Configs */

:root {
    --font-poppins: 'Poppins', Helvetica, Arial, sans-serif;
    --font-lato: 'Lato', Helvetica, Arial, sans-serif;

    --thin: 100;
    --extra-light: 200;
    --light: 300;
    --regular: 400;
    --medium: 500;
    --semi-bold: 600;
    --bold: 700;
    --extra-bold: 800;
    --black: 900;

    --greyish-blue-0: #F5F5FF;
    --greyish-blue-1: #EBEBFF;
    --greyish-blue-2: #D8D8EB;
    --greyish-blue-3: #C5C5D6;
    --greyish-blue-4: #B2B2C2;
    --greyish-blue-5: #A0A0AD;
    --greyish-blue-6: #8D8D99;
    --greyish-blue-7: #7A7A85;
    --greyish-blue-8: #676770;
    --greyish-blue-9: #54545C;
    --greyish-blue-10: #424247;
    --greyish-blue-11: #2F2F33;
    --greyish-blue-12: #1C1C1F;
    --greyish-blue-13: #09090A;

    --blue-0: #EAF1FF;
    --blue-1: #E1EAFF;
    --blue-2: #C4D1F0;
    --blue-3: #A3B4DB;
    --blue-4: #7E93C5;
    --blue-5: #6379AC;
    --blue-6: #4B4996;
    --blue-7: #32307D;
    --blue-8: #211F65;
    --blue-9: #15134F;
    --blue-10: #0B0A38;
    --blue-11: #040424;
    --blue-12: #010113;

    --gradient-lr: linear-gradient(90deg, var(--blue-5) 0%, var(--blue-6) 100%);
    --gradient-td: linear-gradient(180deg, var(--blue-5) 0%, var(--blue-6) 100%);
}

::selection {
    background-color: var(--blue-0);
    color: var(--blue-6);
}

* {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

body {
    background-color: var(--greyish-blue-12);
    color: var(--greyish-blue-0);
}

a {
    color: var(--greyish-blue-0);
    text-decoration: none;
}

a:hover {
    color: var(--blue-4);
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style-type: none;
}