@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

.html:hover {
    fill: var(--laranja);
}

.css:hover {
    fill: var(--azul);
}

.js:hover {
    fill: var(--amarelo);
}

.java:hover {
    fill: var(--vermelho);
}

/* Configurações Gerais */

:root {
    --fonte-principal: 'Lato', Helvetica, Arial, sans-serif;

    --preto: #0E1013;
    --cinza: #1B1D20;
    --azul: #686bfa;
    --vermelho: #fa6868;
    --laranja: #fa9d68;
    --amarelo: #fad868;
    --roxo: #AA88FF;
}

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: #fff;
    text-decoration: none;
}

body {
    font-family: var(--fonte-principal);
    font-size: 1em;
    background-color: var(--cinza);
    color: #fff;
}

header {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
    font-size: 1.2em;
    padding: 20px;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 20px;
    max-width: 1440px;
    margin: auto;
    margin-top: 20px;
}

main h2 {
    grid-column: 1 / -1;
}

main a {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    gap: 20px;
    width: 400px;
    padding: 20px;
    border: 2px solid rgba(255, 255, 255, 0);
}

main a:hover {
    border-color: #fff;
    border-radius: 8px;
    transition-duration: .2s;
}

section {
    display: flex;
}

svg {
    fill: #fff;
    height: 190px;
    transition-duration: .2s;
}