:root {
    --w: #FFF;
    --c0: #F5F5FF;
    --c1: #EBEBFF;
    --c2: #D8D8EB;
    --c3: #C5C5D6;
    --c4: #B2B2C2;
    --c5: #A0A0AD;
    --c6: #8D8D99;
    --c7: #7A7A85;
    --c8: #676770;
    --c9: #54545C;
    --c10: #424247;
    --c11: #2F2F33;
    --c12: #1C1C1F;
    --c13: #09090A;
    --b: #000;

    --p0: #EAF1FF;
    --p1: #E1EAFF;
    --p2: #C4D1F0;
    --p3: #A3B4DB;
    --p4: #7E93C5;
    --p5: #6379AC;
    --p6: #4B4996;
    --p7: #32307D;
    --p8: #211F65;
    --p9: #15134F;
    --p10: #0B0A38;
    --p11: #040424;
    --p12: #010113;

    --grad-c0: linear-gradient(90deg, var(--c12), var(--c13));
    --grad-p0: linear-gradient(var(--p5), var(--p6));
    --grad-p0h: linear-gradient(var(--p6), var(--p7));
    --grad-p1: linear-gradient(90deg, var(--p5), var(--p6));
    --grad-p1h: linear-gradient(90deg, var(--p6), var(--p7));
}

.b {
    color: var(--b);
}

.c1 {
    color: var(--c1);
}

.c2 {
    color: var(--c2);
}

.c6 {
    color: var(--c6);
}

.c10 {
    color: var(--c10);
}

.p0 {
    color: var(--p0);
}

.p4 {
    color: var(--p4);
}