#contact .wrapper::before {
    background: var(--contact-detail) center no-repeat;
}

.contact-wrapper {
    justify-self: end;
    margin-bottom: 100px;
}

.contact-card {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
    position: relative;
}

.contact-card::before {
    content: "";
    background: var(--linear-detail);
    width: 8px;
    height: 104px;
    position: absolute;
    top: 12px;
    right: 12px;
}

.contact-card::after {
    content: "";
    background: var(--diagonal-detail);
    transform: scaleX(-1);
    width: 80px;
    height: 68px;
    position: absolute;
    bottom: 12px;
    left: 12px;
}

.contact__description {
    font: var(--alt_text);
}

.contact__description--bold {
    font: var(--alt_text-b);
}

.contact-items {
    gap: 8px;
}

.contact-item__card {
    justify-items: center;
    gap: 12px;
    padding: 12px 0;
    border-radius: 4px;
    background: var(--c12);
}

.contact-item__card:hover {
    background: var(--grad-p0);
}

.contact-item__card:hover .icon {
    filter: var(--p0f);
}

.contact-item__card:hover .contact-item__text {
    color: var(--p0);
}

.contact-item__text {
    font: var(--alt_text-b);
}