.header {
    background-color: var(--b);
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: var(--shadow);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
}

.logo {
    background: url(../../img/logo.svg) center no-repeat;
    width: 40px;
    height: 40px;
}

.menu__items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 12px;
}

.menu__item {
    display: inline-block;
    padding: 16px 8px;
    position: relative;
}

.menu__item::after {
    content: "";
    background: var(--grad-p1);
    width: 0%;
    height: 4px;
    border-radius: 4px;
    transition: .2s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.menu__item:hover::after {
    width: 100%;
}

.menu_btn {
    background: var(--grad-p1);
    padding: 8px 20px !important;
    border-radius: 4px;
    transition: .3s;
}

.menu_btn:hover {
    background: var(--grad-p1h);
    color: var(--p1);
}

.menu_btn:hover::after {
    width: 0%;
}