.intro-wrapper {
    margin-top: 100px;
}

.intro-card {
    gap: 20px;
}

.intro__title {
    font: var(--h1);
}

.intro__title--gradient {
    background: linear-gradient(90deg, var(--p4), var(--p5), var(--p6), var(--p7), var(--p7), var(--p6), var(--p5), var(--p4));
    background-size: 600% 600%;
    -webkit-animation: var(--g1-anim);
    -moz-animation: var(--g1-anim);
    animation: var(--g1-anim);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.intro__h2-like {
    font: var(--large-text);
    text-align: right;
    text-transform: uppercase;
}

.intro__description {
    font: var(--alt_text-b);
    text-align: center;
}

.intro-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
}

.intro-flex {
    justify-content: center;
    align-items: center;
}

.intro-flex__icon--location {
    filter: var(--p0f);
    padding: 0 4px;
}

.intro-flex__icon--social {
    padding: 0 10px;
}

.intro-flex__icon--social:hover {
    filter: var(--p4f);
}

.intro-flex__text {
    font: var(--alt_small-text-b);
}