.wrapper_intro {
    gap: 20px;
    margin-top: 100px;
}

.h1_gradient {
    background: linear-gradient(90deg, var(--p4), var(--p5), var(--p6), var(--p7), var(--p7), var(--p6), var(--p5), var(--p4));
    background-size: 600% 600%;
    -webkit-animation: var(--g1-anim);
    -moz-animation: var(--g1-anim);
    animation: var(--g1-anim);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.large-text_modified {
    text-align: right;
    text-transform: uppercase;
}

.grid_intro {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 40px;
}

.alt_text-b {
    text-align: center;
}

.flex_location {
    gap: 4px;
    justify-content: center;
}

.flex_location .icon {
    filter: var(--p0f);
}

.flex_social {
    justify-content: center;
}

.flex_social .icon {
    padding: 0 10px;
}

.flex_social .icon:hover {
    filter: var(--p4f);
}