.projects-wrapper {
    justify-self: end;
}

.projects-card {
    gap: 32px;
}

.project-info {
    display: inherit;
    gap: 12px;
}

.project__title {
    font: var(--h2);
}

.project__description {
    font: var(--alt_text);
}

.project__description--bold {
    font: var(--alt_text-b);
}

.project-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.project-grid__item {
    display: inherit;
    gap: 8px;
}

.project-grid__title {
    font: var(--h3);
}

.project-flex {
    /* gap: 16px; */
}

.project-flex__icon {
    padding: 0 8px;
}

.project-flex__icon:hover {
    filter: var(--p4f);
}

.projects-carousel {
    gap: 40px;
}

.carousel-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel-item:hover {
    cursor: pointer;
}

.carousel-item::before,
.carousel-item::after {
    content: "";
    background: var(--grad-p1);
    height: 4px;
    width: 0%;
    border-radius: 4px;
    transition: .2s;
    position: absolute;
    top: -4px;
}

.carousel-item:hover::before {
    width: 100%;
}

.carousel-item__text {
    font: var(--extra-small-text);
    padding: 8px 0;
}

.carousel-item__card {
    background-color: var(--c12);
    border-radius: 4px;
    width: 160px;
    height: 80px;
}