.btn {
    background-color: transparent;
    color: var(--c1);
    border: 2px solid transparent;
    border-image: var(--grad-p1) 1;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding: 8px 0;
}

.btn:hover {
    background-color: var(--p6);
    color: var(--p0);
    border-image: var(--p6);
}

.btn__icon {
    width: 24px;
    height: 24px;
}

.btn:hover .btn__icon,
.btn__icon_ex {
    filter: var(--icon-hover-p0);
}

.btn_ex {
    background: var(--grad-p0);
    border-image: var(--grad-p0) 1;
}

.btn_ex:hover {
    background: var(--grad-p0h);
    border-image: var(--grad-p0h) 1;
}