.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    background-color: transparent;
    border: 2px solid transparent;
    border-image: var(--grad-p1) 1;
    border-radius: 4px;
    padding: 8px 0;
    width: 260px;
}

.btn:hover {
    background-color: var(--p6);
    color: var(--p0);
    border-image: var(--p6);
}

.btn:hover .icon,
.btn--highlight .icon {
    filter: var(--p0f);
}

.btn--highlight {
    background: var(--grad-p0);
    border-image: var(--grad-p0) 1;
}

.btn--highlight:hover {
    background: var(--grad-p0h);
    border-image: var(--grad-p0h) 1;
}

.btn__text {
    font: var(--small-text);
}

.btn__text--bold {
    font: var(--small-text-b);
}