.icon {
    background: center/contain no-repeat;
    width: 24px;
    height: 24px;
}

.icon--hire-me {
    background-image: url(../../img/icons/hire-icon.svg);
}

.icon--download {
    background-image: url(../../img/icons/download-icon.svg);
}

.icon--educ {
    background-image: url(../../img/icons/edu-icon.svg);
}

.icon--courses {
    background-image: url(../../img/icons/courses-icon.svg);
}

.icon--lang {
    background-image: url(../../img/icons/lang-icon.svg);
}

.icon--wpp {
    background-image: url(../../img/icons/wpp-icon.svg);
}

.icon--email {
    background-image: url(../../img/icons/email-icon.svg);
}

.icon--location {
    background-image: url(../../img/icons/location-icon.svg);
}

.icon--github {
    background-image: url(../../img/social/github.svg);
}

.icon--linkedin {
    background-image: url(../../img/social/linkedin.svg);
}

.icon--behance {
    background-image: url(../../img/social/behance.svg);
}

.icon--dribbble {
    background-image: url(../../img/social/dribbble.svg);
}

.icon--uplabs {
    background-image: url(../../img/social/uplabs.svg);
}