.icon {
    background: center/contain no-repeat;
    width: 24px;
    height: 24px;
}

.icon_hire-me {
    background-image: url(../../img/icons/hire-icon.svg);
}

.icon_download {
    background-image: url(../../img/icons/download-icon.svg);
}

.icon_educ {
    background-image: url(../../img/icons/edu-icon.svg);
}

.icon_courses {
    background-image: url(../../img/icons/courses-icon.svg);
}

.icon_lang {
    background-image: url(../../img/icons/lang-icon.svg);
}

.icon_wpp {
    background-image: url(../../img/icons/wpp-icon.svg);
}

.icon_email {
    background-image: url(../../img/icons/email-icon.svg);
}

.icon_location {
    background-image: url(../../img/icons/location-icon.svg);
}

.icon_github {
    background-image: url(../../img/social/github.svg);
}

.icon_linkedin {
    background-image: url(../../img/social/linkedin.svg);
}

.icon_behance {
    background-image: url(../../img/social/behance.svg);
}

.icon_dribbble {
    background-image: url(../../img/social/dribbble.svg);
}

.icon_uplabs {
    background-image: url(../../img/social/uplabs.svg);
}