.hire-ico {
    background: url(../../img/icons/hire-icon.svg) center no-repeat;
}

.download-ico {
    background: url(../../img/icons/download-icon.svg) center no-repeat;
}

.edu-ico {
    background: url(../../img/icons/edu-icon.svg) center no-repeat;
}

.courses-ico {
    background: url(../../img/icons/courses-icon.svg) center no-repeat;
}

.lang-ico {
    background: url(../../img/icons/lang-icon.svg) center no-repeat;
}

.wpp-ico {
    background: url(../../img/icons/wpp-icon.svg) center no-repeat;
}

.email-ico {
    background: url(../../img/icons/email-icon.svg) center no-repeat;
}

.location-ico {
    background: url(../../img/icons/location-icon.svg) center no-repeat;
}

.github-ico {
    background: url(../../img/social/github.svg) center no-repeat;
}

.linkedin-ico {
    background: url(../../img/social/linkedin.svg) center no-repeat;
}

.behance-ico {
    background: url(../../img/social/behance.svg) center no-repeat;
}

.dribbble-ico {
    background: url(../../img/social/dribbble.svg) center no-repeat;
}

.uplabs-ico {
    background: url(../../img/social/uplabs.svg) center no-repeat;
}

.placeholder-ico {
    background: url(../../img/projects/slider/slider-placeholder.svg) center no-repeat;
}

.huddle-ico {
    background: url(../../img/projects/slider/slider-huddle.svg) center no-repeat;
}

.bikcraft-ico {
    background: url(../../img/projects/slider/slider-bikcraft.svg) center no-repeat;
}