.logo_placeholder {
    background: url(../../img/projects/slider/slider-placeholder.svg) center no-repeat;
}

.logo_huddle {
    background: url(../../img/projects/slider/slider-huddle.svg) center no-repeat;
}

.logo_bikcraft {
    background: url(../../img/projects/slider/slider-bikcraft.svg) center no-repeat;
}