.logo {
    background: center no-repeat;
}

.logo--placeholder {
    background-image: url(../../img/logos/placeholder.svg);
}

.logo--huddle {
    background-image: url(../../img/logos/huddle.svg);
}

.logo--bikcraft {
    background-image: url(../../img/logos/bikcraft.svg);
}